<!DOCTYPE html>
<html>
    <head>
        <title>welcome to watchlist </title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1> About watchlist </h1>

        <p class="about-p">
            Welcome to Watchlist, discover movies and shows and add them to your watchlist<br>
            you can easily search for you favorite movies and shows by name and view rating <br>
            and add them to you personal watchlist as a remider for later helping keep everything<br>
            in one place.
        </p>
       
    </body>
</html>