<!DOCTYPE html>
<html lang="en">
  <head>
    <title>welcome to watchlist</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <!--about page title and information-->
    <h1>About Movie Finder</h1>
    <p class="about-p">
      Welcome to Movie Finder! <br />
      Where you can easily register and login in securely to discover if your
      <br />
      favourite movies are among IMDb's most popular movies through simple
      search. Visiting Movie Finder <br />
      allows you to view list of all movies and their prices, as well as a page
      where you <br />
      can specifically search for a movie, see how many avalible and prices.
    </p>
  </body>
</html>
