<!DOCTYPE html>
<html>
    <head>
        <title>welcome to watchlist </title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1> about watchlist </h1>
       
    </body>
</html>