<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1> Welcome To Watchlist</h1>
        <p><a href="about">About</a></p>
        <p><a href="users/register">Register</a></p>
        <p><a href="users/login">Login</a></p>
    </body>
</html>