<!DOCTYPE html>
<html>
    <head>
        <title>welcome to <%=moviesData.moviesName</title>
        <link rel="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1> welcome to <%=moviesData.moviesName</h1>
        <p><a href="about">About</a></p>
    </body>
</html>