<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <!--All pages and title-->
    <h1>Welcome To Movie Finder!</h1>
    <p><a href="about">About</a></p>
    <p><a href="users/register">Register</a></p>
    <p><a href="users/login">Login</a></p>
    <p><a href="movie/search">Movie Search</a></p>
    <p><a href="movie/list">Movies and Prices</a></p>
  </body>
</html>
