<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <!--headings for page-->
    <h1>Movie List and Prices</h1>
    <h2>Movies avalible in stock and their prices</h2>
    <ul>
      <!--passes though availableMovies and displays movie name and price-->
      <% availableMovies.forEach(function(movie){%>
      <li><%= movie.name %>, £<%=movie.price %></li>
      <% }) %>
    </ul>
  </body>
</html>
