<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="loggedin">
        <p>username: <input id="username" type="text" name="username" required/></p>
        <br>
        <p>password: <input id="password" type="password" name="plainPassword" required /></p>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
