<!doctype html>
<html>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  <head>
    <body>
        <h1> search</h1>
        <form action="search_result" method="GET">
            <p> search to view movies we have in stock and quantity avalible </p>
        <input id="search_box" type="text" name="search_text">
        <input type="submit" value="Search">
    </form>
    </body>
    </html>