<!DOCTYPE html>
<html>
    <html>
        <link rel="stylesheet" type="text/css" href="/main.css" />
        <title>watchlist</title>
        <body>  <h1>watchlist </h1>

            <form  method="POST" action="logout">
                <button type="submit">Logout</button>
            </form>
          
        </body>
        </html>