/* used bootsraps to make more user-friendly
css is mainly to make pages font and colour consistent*/
body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: rgb(236, 244, 247);
}
h1 {
  text-align: center;
  margin-bottom: 80px;
}
p {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 50px;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a:hover {
  color: rgb(63, 152, 236);
  text-decoration: none;
}
.bg-page {
  background-color: rgb(236, 244, 247);
}
.bg-login {
  background-color: rgb(236, 244, 247);
}
.about-p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}
body.watchlist-page {
  background-color: rgb(236, 244, 247);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.bg-search {
  background-color: rgb(236, 244, 247);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
